.Review {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .modal-body {
    background: rgb(212, 212, 212);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 90vh;
    width: 90vw;
    animation: fade-in-body .2s ease-in;
    overflow: scroll;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
      background: green;
      padding: 1rem 0;
      color: white;
    }
    
    button {
      display: block;
      margin: 2rem auto;
      width: auto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.6rem;
      border: 2px outset green;
      color: green;
      background: none;
      transition: all .2s ease-in-out;
      padding: .2rem .8rem;
  
      &:hover, &:focus {
        background: green;
        color: white;
        cursor: pointer;
      }
    }

    ol {
      margin: 0 .5rem;

      li {
        font-size: 1.3rem;
        margin-top: 1rem;
      }
    }
  }
  
  .modal-overlay {
    background: black;
    opacity: .5;
    height: 100%;
    width: 100%;
  }
}

@keyframes fade-in-body {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
