.Search {
  background: pink;

  h2 {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  input {
    display: block;
    margin: auto;
    width: 12rem;
    height: 2rem;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  button {
    display: block;
    margin: 2rem auto;
    width: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: 2px outset green;
    color: green;
    background: none;
    transition: all .2s ease-in-out;
    padding: .2rem .8rem;

    &:hover, &:focus {
      background: green;
      color: white;
      cursor: pointer;
    }
  }
}

.ResultsDisplay {


}

// TODO: Move spinner into shared component library
// https://stackoverflow.com/questions/6410730/css-endless-rotation-animation
.spinner {
  color: lightblue;
  font-size: 5rem;
  margin: auto;
  display: block;
  transform: rotate(360deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
