.App {
  font-family: Roboto, sans-serif;
}

.Header {
  font-size: 1.3rem;
  font-weight: 300;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}