.App {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 2.5rem 3.5rem 1fr;

  header {
    padding: .2rem 0;

    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.Navigation {
  width: 100vw;
  font-weight: 300;
  padding: .6rem 0;
  border-bottom: 2px solid rgb(219, 219, 219);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
      button {
        border: none;
        background: none;
        font-size: 1.9rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}